<a href="https://colab.research.google.com/github/Naina-Kshatri/18CSE079-DMDWLAb/blob/main/covariance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbs

In [2]:
url="https://raw.githubusercontent.com/Naina-Kshatri/18CSE079-DMDWLAb/main/student-mat.csv"
df=pd.read_csv(url)
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [18]:
covariance=np.cov(df[['traveltime','studytime']])[1][2]
print(covariance)

0.5